/*style header*/

html, body {
    margin: 0;
    padding: 0;
}

.header {
  text-align: center;
  font-size: 35px;
  font-family: monospace;
  color: white;

}


/*navbars*/
.jumpbtn {
  background-color: #A5B494;
  color: #F4EED9;
  padding: 16px;
  font-size: 26px;
  font-family: monospace;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  float: right;
}


.sidenav {
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: inline-block;
  z-index: 9;
}

.sidenav-content {
  display: none;
  background-color: #A5B494;
  overflow-x: hidden;
  font-family: monospace;
  font-size: 16px;
  text-align: center;
 } 

.sidenav-content a{
  text-decoration: none;
}

.sidenav-content a:hover {background-color: #F4EED9;}

.show {display:block;}

.topnav{
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: monospace;
  background-color: #A5B494;
  position: sticky;
  top: 0;
  left: 10%;
  right: 0;
  width: 80%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A5B494;
}

li {
  float: left;
}

li a {
  display: block;
  color: #F4EED9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #A5B494;
}

li a:hover {
  background-color: #2F4F4F;
}

.active {
  background-color: #F4EED9;
  color: #A5B494;
}

.section{
  font-size: 22px;
}

.content {
  background-color: #F4EED9;
  font-size: 18px;
  line-height: 1.2;
  font-family: monospace;
  width: 70%;
  left: 10%;
  position: absolute;
  padding: 5%;
}

@media screen and (max-width:600px) {
  .content {
    width: 88%;
    left: 5%;
    padding: 1%;
  }
  .header {
    font-size: 25px;
  }
  .topnav {
    width: 90%;
    left: 5%;
    font-size: 20px;
  }
  li {
    float: none;
  }
}
